body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relogio{
    height: 40px;
    width: 100vw;
    top: 0px;
    left: 0;
    position: fixed;
    background: #abce80;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #EEF9BF;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.top-box {
    margin-top: 50px;
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
    align-items: center;
    text-align: center;
}

.container{
    display: flex;
    padding: 47px 86px 0px 120px;
    align-items: center;
    justify-content: center;
}

.lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lista li {
    height: 146px;
    width: 117px;
    position: relative;
    box-sizing: border-box;
    margin: 0 34px 34px 0;
}

.face {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    backface-visibility: hidden;
    transition: all .5s;
    border-radius: 5px;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.gif{
    width: 100px;
    height: 100px;
}

.front-parrot {
    height: 100px;
    width: 100px;
}

.back-face-virada {
    transform: rotateY(0deg);
}

.front-face-virada {
    transform: rotateY(-180deg);
}

@media (max-width: 600px) {
    .top-box{
        height: 63px;
        width: 312px;
        font-size: 36px;
        z-index: 2;
    } 
    .scoreRelogio{
        height: 30px;
    }
}
